nav.siblings {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	overflow: hidden;

	.wrapper {
		display: flex;
		justify-content: flex-end;
		padding: 0 20px;
	}

	a {
		display: inline-block;
		padding: 0 10px;
		margin-left: 5px;
		height: 30px;
		line-height: 30px;
		color: rgba(255, 255, 255, 0.8);
		font-weight: bold;
		position: relative;
		z-index: 10;

		&:hover,
		&:active
		&.active:hover,
		&.active:active,
		&.active {
			color: #fff;
		}
	}

	a.active,
	.no-active-replacement {
		position: relative;
		z-index: 9;

		&:before,
		&:after {
			content: "";
			display: block;
			position: absolute;
			height: 100%;
			left: 100%;
			width: 9999px;
			background: rgba(0, 0, 0, 0.1);
			top: 0;
		}

		&:after {
			right: 100%;
			left: auto;
		}
	}

	&.light {
		background: $brand-color;

		a.active,
		.no-active-replacement {
			&:before,
			&:after {
				display: none;
			}
		}

		a {
			&:active
			&.active:hover,
			&.active:active,
			&.active {
				color: $brand-color;
				background: #fff;
			}
		}
	}

	+ header {
		padding-top: 30px;
	}
}

.logo {
	line-height: 0;
	text-align: left;

	svg {
		height: 25px;
		margin: 7px 0;
		fill: #fff;
	}

	span {
		display: none;
	}
}

header.landing,
header.short {
	background: $brand-color linear-gradient(45deg, rgba(0, 0, 0, 0), $light-brand-color);
	text-align: center;

	&,
	a {
		color: #fff;
	}

	.subtitle a:not(.button) {
		text-decoration: underline;
	}
}

header.plain  {
	background: #fff;
	border-bottom: 1px solid $plain-border-color;

	.nav-bar.wrapper {
		svg {
			fill: $brand-color;
		}

		a,
		a.button {
			color: $text-colour;
		}

		#open-nav {
			path {
				fill: $text-colour;
			}
		}
	}
}

.nav-bar.wrapper {
	padding-top: 20px;
	padding-bottom: 20px;
	font-size: $font-small;

	.logo a {
		display: inline-block;
	}

	a {
		text-decoration: none;
		white-space: nowrap;
		display: block;
	}

	.main,
	.right {
		display: none;
		text-align: right;

		a {
			padding: 20px 0;
		}
	}

	.main {
		flex: 1;
		margin-top: 20px;

		a {
			transition: opacity $transition-duration ease;
			opacity: $text-opacity;

			&.active, &:hover {
				opacity: 1;
			}
		}
	}
}

#open-nav {
	text-align: right;
	display: block;
	float: right;
	margin-top: 7px;
}

.nav-open .nav-bar.wrapper .main,
.nav-open .nav-bar.wrapper .right {
	display: block;
}

@media only screen and (max-width: $desktop-min - 1) {
	.nav-bar.wrapper .right .button {
		background: none;
		text-align: right;
		text-transform: none;
		font-weight: 400;
		border: 0;

		&.dark:hover {
			color: #fff;
		}

		&.light:hover {
			color: $brand-color;
		}
	}
}

@media only screen and (min-width: $desktop-min) {
	#open-nav {
		display: none;
	}

	header .nav-bar.wrapper {
		display: flex;

		& > .logo,
		& > .main,
		& > .right {
			display: flex;
			align-items: center;
			justify-content: center;
			text-align: center;
		}

		.main {
			margin-top: 0;
			flex: 1;
			text-align: center;
		}

		.main,
		.right {
			display: flex;

			a {
				display: inline;
				text-align: center;
				padding: 5px 20px;

				&.button {
					padding-top: 1em;
					padding-bottom: 1em;
				}
			}
		}

		.right {
			text-transform: uppercase;
			letter-spacing: $uppercase-letter-spacing;
			font-size: $font-smaller;
			font-weight: 700;

			a {
				opacity: 1;
			}
		}
	}

	header.landing,
	header.short {
		.nav-bar.wrapper .right a {
			opacity: 1;

			.button {
				border-color: rgba(255, 255, 255, $text-opacity);
			}
		}
	}

	header.plain .nav-bar.wrapper .right a {
		color: $brand-color;

		&.button:hover {
			color: #fff;
		}
	}
}